body {
    background-image: url(lpasta-fundal.jpg);
    background-size: 1840px 1350px;
}
h1 {
    color:goldenrod ; margin-left: 9rem;
}
img {
    width: 500px; height: 350px; border-radius: 20%;
    
}
div {
    color: goldenrod;
    font-family: Arial, Helvetica, sans-serif;
}

.titlu2 {
    font-size: 30px;
}
.descriere {
    font-size: 20px; 
}
.ing {
    font-size: 30px ; margin-left: 10rem;
}
ul {
    font-size: 20px;
}
.steps {
    font-size: 30px; margin-left: 12rem;
}
ol {
    font-size: 23px; margin-right: 900px;
}